.color {
  color: rgb(138, 138, 17);
}
.lightpink {
  color: lightpink;
}
.flex {
  display: flex;
  gap: 10px;
  justify-content: center;
  border: 2px solid rgb(151, 151, 84);
  padding: 10px;
}
.margin {
  margin: 10px;
}
